body {
    margin: 5px;
    background-color: #d7c7b0;
    font-family: 'Roboto Serif', serif;
}

.img-box {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  
.img-box img {
    flex-basis: 25%; /* Define a largura das imagens em 25% */
    object-fit: cover; /* Garante que as imagens preencham o espaço mantendo sua proporção */
    width: 10%;
}

p {
    color: #0a0805;
}

strong {
    color: #4b3c26;
}

h1 {
    padding: 5px;
    border-bottom: 2px solid #0a0805;
    text-align: center;
    font-size: 70px;
    color: #0a0805;
    text-transform: uppercase;
    font-weight: 900;
    
}

.linksMenuPrincipal a {
    padding: 20px;
    background-color: #0a0805;
    color: #d7c7b0;
    text-decoration: none;
}

.linksMenuPrincipal, li {
    display: inline;
    text-align: center;
}

.linksMenuPrincipal .linkMenuAtivo {
    background-color: #4b3c26;
}

h2 {
    padding: 20px;
    border-bottom: 2px solid #0a0805;
    text-align: center;
    text-transform: uppercase;
    color: #0a0805;
    
}

h3 {
    padding: 5px;
    border-bottom: 2px solid #0a0805;
    border-left: 2px solid #0a0805;
    text-transform: uppercase;
    color: #0a0805;
    font-weight: bold;
}

.itemEstudo {
    text-align: left;
}

ul {
    list-style-type: none;
  }

iframe {
    display: block;
}

li p {
    text-align: left;
}

form {
    border-bottom: 2px solid #0a0805;
    padding: 10px;
   
}